.logo {
  background-color: #f5c518;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 37px;
  margin: 0.6rem;
  border-radius: 5px;
}

.logo-font {
  font-size: 22px;
}
