.logo {
  background-color: #f5c518;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin: 0.5vw;
  border-radius: 5px;
}

.logo-font {
  font-size: large;
}
